@page
@model TouristInformation.Pages.Tickets.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ReservedTicket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservedTicket.Id" />
            <div class="form-group">
                <label asp-for="ReservedTicket.GuestName" class="control-label">Name</label>
                <input asp-for="ReservedTicket.GuestName" class="form-control" />
                <span asp-validation-for="ReservedTicket.GuestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedTicket.AttrId" class="control-label">Select Attraction</label>
                <select asp-for="ReservedTicket.AttrId" class="form-control" asp-items="ViewBag.AttrId"></select>
                <span asp-validation-for="ReservedTicket.AttrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedTicket.Quantity" class="control-label">Quantity</label>
                <input asp-for="ReservedTicket.Quantity" class="form-control" />
                <span asp-validation-for="ReservedTicket.Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
